<div class="container">
  <% if @bookings.empty? %>
    <h3 class="my-3">No bookings yet!
      <%# <%= link_to "Browse Dresses", dresses_path, class: 'card-link' %>
    </h3>
  <% else %>
  <%# User's Bookings %>
    <h1 class="m-2 text-center">Your Bookings</h1>
    <div class="row justify-content-center">
      <% @bookings.each do |booking| %>
        <div class="booking-card text-center mb-3">
          <%= link_to dress_path(booking.dress) do %>
            <%= render 'dresses/dress_images', dress: booking.dress %>
          <% end %>
          <p>Booking status: <%= booking.status %></p>
          <p>Booking-ID:<%= booking.id %></p>
          <p>Total: <%= number_to_currency(booking.total_price, {unit: '¥', precision: 0}) %></p>
          <p>Rental Period:
            <%= booking.starting_date %>
            <%= booking.ending_date %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
  <%# User's Booked Listings %>
  <% if @booked.empty? %>
    <p class="my-3 mb-5">No booked listings yet!
      <%# <%= link_to "See My Listings", listings_path, class: 'card-link' %>
    </p>
  <% else %>
    <h1 class="m-2 text-center">Your Booked Listings</h1>
    <div class="row justify-content-center">
      <% @booked.each do |booking| %>
        <div class="booking-card text-center mb-3">
          <%= link_to dress_path(booking.dress) do %>
            <%= render 'dresses/dress_images', dress: booking.dress %>
          <% end %>
          <p>Booking status: <%= booking.status %></p>
          <p>Booking-ID:<%= booking.id %></p>
          <p>Client:
            <%= booking.user.first_name%>
            <%= booking.user.last_name%>
          </p>
          <p>Total: <%= number_to_currency(booking.total_price, {unit: '¥', precision: 0}) %></p>
          <p>Rental Period:
            <%= booking.starting_date %>
            <%= booking.ending_date %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'Browse Dresses', dresses_path, class: 'btn btn-outline-secondary float-right' %>
  <%= link_to 'Add a New Dress', new_dress_path, class: 'btn btn-outline-secondary float-right mr-3' %>

</div>
