<div class="container">
  <div class="row justify-content-between p-3">
    <div class="justify-content-center user-info my-5 col-lg-4 col-12">
      <h3 class="text-center">User Information</h3>
      <ul class="list-unstyled text-center text-lg-left">
        <li class="mb-1">Full Name: <%= "#{current_user.first_name} #{current_user.last_name}" %></li>
        <li class="mb-1">Current email address: <%= current_user.email %></li>
        <%= link_to "Edit Information", edit_user_registration_path, class: 'btn btn-outline-secondary my-2' %>
      </ul>
    </div>
    <%# booking cards by renter %>
    <div class="my-5 col-lg-8 col-12">
      <% if @bookings.empty? %>
      <h3 class="text-center mb-5 border-bottom pb-5">No Bookings Yet!</h3>
      <% else %>
      <h3 class="text-center">Current Bookings</h3>
      <div class="row booking-info justify-content-center">
        <% @bookings.each do |booking| %>
        <div class="col-12 col-lg-4">
          <div class="booking-card mx-auto">
            <%= link_to dress_path(booking.dress) do %>
              <% if booking.dress.photos.attached? %>
                <%= cl_image_tag(booking.dress.photos.first.key) %>
              <% elsif booking.dress.dress_url.present? %>
                <%= image_tag(booking.dress.dress_url) %>
              <% else %>
                <%= image_tag("bridal_gown_silhouette.png") %>
              <% end %>
            <% end %>
              <p>Booked from <%= booking.starting_date %> until <%= booking.ending_date %></p>
              <p>Status: <%= booking.status.capitalize %></p>
              <p>Order Total: <%= number_to_currency(booking.total_price, {unit: '¥', precision: 0}) %></p>
          </div>
        </div>
        <% end %>
        <% end %>
        <%# booking cards awaiting confirmation - owner %>
        <div class="container">
          <% if @booked.present? %>
            <h3 class="text-center">Booking Requests</h3>
            <div class="row booking-info justify-content-center">
              <% @booked.each do |booking| %>
              <div class="col-12 col-lg-4">
                <div class="booking-card booked mx-auto">
                  <%= link_to dress_path(booking.dress) do %>
                    <% if booking.dress.photos.attached? %>
                      <%= cl_image_tag(booking.dress.photos.first.key) %>
                    <% elsif booking.dress.dress_url.present? %>
                      <%= image_tag(booking.dress.dress_url) %>
                    <% else %>
                      <%= image_tag("bridal_gown_silhouette.png") %>
                    <% end %>
                  <% end %>
                    <p>Booked from <%= booking.starting_date %> until <%= booking.ending_date %></p>
                    <p>Order Total: <%= number_to_currency(booking.total_price, {unit: '¥', precision: 0}) %></p>
                    <p>Status: <%= booking.status.capitalize %></p>
                  <div class="d-flex justify-content-center confirm-button mt-3">
                    <% if booking.status == "pending" %>
                      <%= simple_form_for booking do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                        <%= f.submit 'Accept', class: 'btn btn-outline-secondary mr-2' %>
                      <% end %>
                      <%= simple_form_for booking do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                        <%= f.submit 'Reject', class: 'btn btn-outline-secondary' %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <%= link_to 'See All Bookings', bookings_path, class: 'btn btn-outline-secondary float-right mb-3' %>
    </div>
  </div>
</div>
