<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= cl_image_tag('zpjdn6ufckhw2e17vxjo') %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <div class="d-flex">
          <div class="form-inline">
            <%= form_tag dresses_path, method: :get do %>
            <%= text_field_tag :search,
                params[:search],
                class: "search-bar form-control",
                placeholder: "Search All Dresses"
              %>
              <%= submit_tag "Search", class: "btn btn-outline-success mx-2 my-sm-0" %>
            <% end %>
          </div>
        </div>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= current_user.avatar.attached? ? cl_image_tag(current_user.avatar.key) :
            cl_image_tag('nqnlqlo8l8ofotwadqms', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

              <%= link_to "Add a new dress", new_dress_path, class: "dropdown-item" %>
              <%= link_to "See new dresses", dresses_path, class: "dropdown-item" %>
              <%#want to make an if/else here for owners of dresses to see their current listings after we figure out the owner logic %>

              <%= link_to "Profile", "#", class: "dropdown-item" %>
              <%= link_to "Your Favorites", "#", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
