<%
=begin %>
<div class="container">
  <div class="row justify-content-center">

    <div class="col-4">
      <div class="user-info my-5 mr-5 ml-5">
        <h3 class="text-center">User Information</h3>
        <ul class="list-unstyled">
          <li class="mb-1">Full Name: <%= "#{current_user.first_name} #{current_user.last_name}" %></li>
          <li class="mb-1">Current email address: <%= current_user.email %></li>
        </ul>
      </div>
    </div>

    <div class="col-6 my-5">
      <h3 class="text-center">Current Bookings</h3>
      <%= link_to 'See All Bookings', bookings_path, class: 'card-link btn btn-outline-secondary float-right align-items-center' %>
      <% @bookings.each do |booking| %>
      <% if booking.ending_date >= Date.today %>
        <div class="booking-card mb-3 mr-5 ml-5">
          <div class="booking-info my-5">
            <%= link_to dress_path(booking.dress) do %>
              <%# # Image tag to be updated with cloudinary  %>
              <%= booking.dress.photos.attached? ? cl_image_tag(booking.dress.photos.first.key) :
                  cl_image_tag("c3mvlbwttkpafkm6iwqh") %>
                  <%# # image_tag('https://images.unsplash.com/photo-1557363763-8381968f8353?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') %>
              <% end %>
            <% if booking.status == "pending" %>
              <div class="d-flex justify-content-around">
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                  <%= f.submit 'Accept', class: 'btn btn-outline-dark mb-5 mx-1' %>
                <% end %>
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                  <%= f.submit 'Reject', class: 'btn btn-outline-dark mb-5 mx-1' %>
                <% end %>
              </div>
            <% elsif booking.status == "rejected" %>
              <p>Rejected</p>
            <% else %>
              <p>Accepted</p>
            <% end %>
            <% end %>
            <% end%>
          </div>
        </div>
    </div>
  </div>
<%
=end %>


<div class="container">
  <div class="row justify-content-between p-3">
    <div class="justify-content-center user-info my-5 col-lg-3 col-12">
      <h3 class="text-center">User Information</h3>
      <ul class="list-unstyled text-center text-lg-left">
        <li class="mb-1">Full Name: <%= "#{current_user.first_name} #{current_user.last_name}" %></li>
        <li class="mb-1">Current email address: <%= current_user.email %></li>
      </ul>
    </div>

    <div class="my-5 col-lg-9 col-12">
      <h3 class="text-center">Current Bookings</h3>
      <div class="row booking-info">
        <% @bookings.each do |booking| %>
        <div class="col-12 col-lg-4">
          <div class="booking-card ml-5 mx-auto">
            <%= link_to dress_path(booking.dress) do %>
              <%# Image tag to be updated with cloudinary %>
              <%= booking.dress.photos.attached? ? cl_image_tag(booking.dress.photos.first.key) :
              cl_image_tag("c3mvlbwttkpafkm6iwqh") %>
              <%# image_tag('https://images.unsplash.com/photo-1557363763-8381968f8353?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') %>
            <% end %>
            <div class="d-flex justify-content-center confirm-button">
              <% if booking.status == "pending" %>
                <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept', class: 'btn btn-outline-secondary mr-2' %>
              <% end %>
              <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                <%= f.submit 'Reject', class: 'btn btn-outline-secondary' %>
              <% end %>
              <% elsif booking.status == "rejected" %>
                <p>Rejected</p>
              <% else %>
                <p>Accepted</p>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
    <%= link_to 'See All Bookings', bookings_path, class: 'btn btn-outline-secondary float-right mb-3' %>
</div>
