<%= link_to dress_path(dress) do %>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <% if dress.photos.attached? %>
          <%= cl_image_tag(dress.photos.first.key, class: 'card-img-top') %>
        <% elsif dress.dress_url.present? %>
          <%= image_tag(dress.dress_url, class: 'card-img-top') %>
        <% else %>
          <%= image_tag("bridal_gown_silhouette.png", class: 'card-img-top') %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= dress.brand %></h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
