<div data-refresh-list-target="list">
  <div class="row justify-content-center">
    <% dresses.each do |dress| %>
      <div class="dress-card text-center mb-3">
        <%= link_to dress_path(dress) do %>
          <%= render 'dresses/dress_images.html.erb', dress: dress %>
        <% end %>
        <span class="favorite">
          <% if user_signed_in? && dress.favorited_by?(current_user) %>
            <%= link_to "", favorite_path(dress), class: "fa fa-heart pink", id: "favorite-button-#{dress.id}", remote: true %>
          <% elsif user_signed_in? %>
            <%= link_to "", favorite_path(dress), class: "fa fa-heart", id: "favorite-button-#{dress.id}", remote: true %>
          <% else %>
            <%= link_to "", favorite_path(dress), class: "fa fa-heart", id: "favorite-button-#{dress.id}" %>
          <% end %>
        </span>
        <p><%= dress.description.truncate(30, omission: " ...") %></p>
        <p><%= number_to_currency(dress.price_per_day, {unit: '¥', precision: 0}) %> per day</p>
      </div>
      <% end %>
    </div>
</div>
