<div class="container">
  <h1 class="my-3">Your Favorites</h1>
  <% if @fav_dresses.empty? %>
    <h3 class="mb-5">No Favorites Yet!
      <%= link_to "Find Some Favorites", dresses_path, class: 'card-link' %>
    </h3>
  <% end %>
  <div class="row justify-content-center">
    <% @fav_dresses.each do |dress| %>
    <div class="dress-card text-center mb-3">
      <%= link_to dress_path(dress) do %>
        <% if dress.photos.attached? %>
          <%= cl_image_tag(dress.photos.first.key) %>
        <% elsif dress.dress_url.present? %>
          <%= image_tag(dress.dress_url) %>
        <% else %>
          <%= image_tag("bridal_gown_silhouette.png") %>
        <% end %>
      <% end %>
      <span class="favorite">
      <% if current_user.favorited?(dress) %>
        <%= link_to "", favorite_path(dress), class: "fa fa-heart pink", id: "favorite-button-#{dress.id}", remote: true %>
      <% else %>
        <%= link_to "", favorite_path(dress), class: "fa fa-heart", id: "favorite-button-#{dress.id}", remote: true %>
      <% end %>
      </span>
      <p><%= dress.description.truncate(30, omission: " ...") %></p>
      <p>$<%= dress.price_per_day %> per day</p>
    </div>
    <% end %>
  </div>
</div>
