<div class="container">
  <h1 class="m-2">
    <% if @dresses.count > 1 %>
      <%= @dresses.count %> dresses
    <% else %>
      <%= @dresses.count %> dress
    <% end %>
    found for you

  <%# <% @dresses.count > 1 ? @dresses.count dresses :
     @dresses.count dress %>

  </h1>
  <div class="row justify-content-center">
    <% @dresses.each do |dress| %>
    <div class="dress-card text-center mb-3">
      <%= link_to dress_path(dress) do %>
        <%# Image tag to be updated with cloudinary %>
        <%= dress.photos.attached? ? cl_image_tag(dress.photos.first.key) :
        cl_image_tag("c3mvlbwttkpafkm6iwqh") %>
        <%# image_tag('https://images.unsplash.com/photo-1557363763-8381968f8353?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') %>
      <% end %>
      <span class="favorite"><%= link_to "", dresses_path, class: "fa fa-heart"%></span>
      <p><%= dress.description %></p>
      <p>$<%= dress.price_per_day %> per day</p>
    </div>
    <% end %>
  </div>
</div>
