<div class="container">
  <h2 class="my-3">
    <% if @search == nil %>
    All Our Dresses
    <% elsif @dresses.count > 1 %>
      <%= @dresses.count %> dresses found for you
    <% elsif @dresses.count == 1 %>
      <%= @dresses.count %> dress found for you
    <% else %>
      Sorry, no results were found for "<%= @search %>."
    <% end %>
  <%# <% @dresses.count > 1 ? @dresses.count dresses :
     @dresses.count dress %>
  </h2>

  <div class="row justify-content-center">
    <% @dresses.each do |dress| %>
    <div class="dress-card text-center mb-3">
      <%= link_to dress_path(dress) do %>
        <%= dress.photos.attached? ? cl_image_tag(dress.photos.first.key) :
        cl_image_tag("c3mvlbwttkpafkm6iwqh") %>
        <%# <%= image_tag ('fgd.png'), :alttext %>
      <% end %>
      <span class="favorite">
      <% if dress.favorited_by?(current_user) %>
        <%= link_to "", favorite_path(dress), class: "fa fa-heart pink" %>
      <% else %>
        <%= link_to "", favorite_path(dress), class: "fa fa-heart" %>
      <% end %>
      </span>
      <p><%= dress.description %></p>
      <p>$<%= dress.price_per_day %> per day</p>
    </div>
    <% end %>
  </div>
</div>
