<div class="container">
  <h2 class="my-3">Your Listings</h2>
  <h3>
    <% if @dresses.count == 0 %>
      No listings yet!
      <%= link_to 'Add a new dress?', new_dress_path, class: 'card-link' %>
    <% end %>
  </h3>
  <%# <% @dresses.count > 1 ? @dresses.count dresses :
     @dresses.count dress %>
  <div class="row justify-content-center">
    <% @dresses.each do |dress| %>
    <div class="dress-card text-center mb-3 listings">
      <%= link_to dress_path(dress) do %>
        <% if dress.photos.attached? %>
          <%= cl_image_tag(dress.photos.first.key) %>
        <% elsif dress.dress_url.present? %>
          <%= image_tag(dress.dress_url) %>
        <% else %>
          <%= image_tag("bridal_gown_silhouette.png") %>
        <% end %>
      <% end %>
      <p><%= dress.description.truncate(30, omission: " ...") %></p>
      <p>$<%= dress.price_per_day %> per day</p>
      <div class="edit-dress">
        <%= link_to "", dress_path(dress), method: :delete, class: "hidden delete-link" %>
        <%= link_to "Edit", edit_dress_path(dress), class: "btn btn-outline-secondary mb-5 mx-1" %>
        <button class="sweet-alert-delete btn btn-outline-secondary mb-5 mx-1 float-right">Delete</button>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to 'Add a New Dress', new_dress_path, class: 'btn btn-outline-secondary float-right' %>
</div>
