<div class="container">
  <%= render 'shared/carousel' %>
  <div class="m-3">
    <h3><%= @dress.style %> style dress designed by <%= @dress.brand %></h3>
    <p><%= @dress.description %></p>
    <p>Size: <%= @dress.size %></p>
    <p>Color: <%= @dress.color %></p>
    <p>Price Per Day: <%= number_to_currency(@dress.price_per_day, {unit: '¥', precision: 0}) %></p>
    <%= link_to 'Book Dress', new_dress_booking_path(@dress), class: 'btn btn-dark  float-right' %>
  </div>
  <h3 class="m-3 my-5">This Dress's Reviews</h3>

  <div data-controller="insert-in-list" class="reviews mx-auto">
    <div id="reviews" data-insert-in-list-target="items">
      <% if @dress.reviews.blank? %>
        Be the first to leave a review for this dress!
      <% else %>
        <% @dress.reviews.each do |review| %>
          <%= render review %>
        <% end %>
      <% end %>
    </div>

    <h3 class="m-3 my-5">Leave a Review</h3>
    <%= render 'reviews/form', dress: @dress, review: @review %>
  </div>

  <%= link_to 'Back', :back, class: "btn btn-outline-secondary mb-5 mx-1 mt-5" %>
</div>
